
lws
llvmlite==0.32.1
torch==1.1.0

Unidecode==0.4.20
tensorboard
tensorboardX
matplotlib==2.0.2
Pillow
tqdm
git+https://github.com/bootphon/phonemizer@master
soundfile
tensorboardX

numpy
scipy
librosa
